.loginapp {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.loginapp h1 {
    color: #5C5C5C;
}

.loginapp label {
    color: #B9B9B9;
    font-family: Arial, Helvetica, sans-serif;
}

.loginapp input {
    background: #2471FF;
    padding: 6px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
    text-align: center;
}

.loginapp input:hover {
    background: #6B9FFF;
    color: #fff;
}
