<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href=
  "assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href=
  "assets/css/loginapp.css">
  <script src="assets/js/loginapp.js">
  </script>
  <script src="assets/js/jquery.min.js">
  </script>
  <script src="assets/js/prism.min.js">
  </script>
  <script src="assets/js/clipboard.min.js">
  </script>
  <script src="assets/js/bootstrap.min.js">
  </script>
  <title>{{ .AppConfig.Name }}</title>
</head>
<body>
  <div class="page-header">
      <center><h1>Oops...</h1></center>
      <center><h2>Internal Server Error</h2></center>
  </div>
  <div class="loginapp col-md-12">
  <center>
    <form action="/" method="get">
      <input class="loginapp" type="submit" value="Home">
    </form>
  </center>
  </div>
</body>
</html>
