<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href=
  "assets/css/code-box-copy.min.css">
  <link rel="stylesheet" type="text/css" href=
  "assets/css/prism.min.css">
  <link rel="stylesheet" type="text/css" href=
  "assets/css/form-style.min.css">
  <title>{{ .Name }}</title>
</head>
<body>
  <div class="form-style-7">
    <h1>{{ .Name }}</h1>
    <form class="form-style-7" action="/" method="get">
      <ul>
        <li>
          <label>Copy this in your ~/.kube/config file</label>
          <div class="code-box-copy">
            <button class="code-box-copy__btn" title=
            "Copy" type="button" data-clipboard-target="#kubeconfig">
            </button>
            <pre><code class="language-yaml" id=
            "kubeconfig">- name: {{ .UsernameClaim }}
  user:
    auth-provider:
      config:
        idp-issuer-url: {{ .Claims.iss }}
        client-id: {{ .ClientID }}
        id-token: {{ .IDToken }}
{{- if ne .RefreshToken "" }}
        client-secret: {{ .ClientSecret }}
        refresh-token: {{ .RefreshToken }}
{{- end }}
      name: oidc</code></pre>
          </div>
        </li>
        <li><label>Return to login page</label> <input type=
        "submit" value="Home"></li>
      </ul>
    </form>
  </div>
  <script src="assets/js/clipboard.min.js">
  </script>
  <script src="assets/js/jquery.min.js">
  </script>
  <script src="assets/js/prism.min.js">
  </script>
  <script src="assets/js/code-box-copy.min.js">
  </script>
  <script>
      $('.code-box-copy').codeBoxCopy();
  </script>
</body>
</html>
